/*CAMBIOS PARA NO GENERAR CONFUSIONES ENTRE SECCIONES DE PAGINA 31-JUL-2025*/
.vista-transacciones .table thead th {
    border: 1px solid #d1c4e9; /* color suave para los bordes */
    border-bottom-width: 2px;   /* para que la línea inferior sea un poco más gruesa si quieres */
    padding: 0.75rem;
    background-color: #d5d4d696;  /* color de fondo del encabezado */
    color: rgb(11, 10, 10);
    font-weight: 600;
}

.vista-transacciones .badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    border-radius: 0.375rem;
}

.vista-transacciones .bg-success {
    background-color: #198754;
    color: #fff;
}

.vista-transacciones .fs-6 {
    font-size: 1rem;
}

.vista-transacciones .table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.vista-transacciones .table-success {
    background-color: #56b28873 !important;
    color: #173c2b;
}

.vista-transacciones .table-danger {
    background-color: #dc7c848a !important;
    color: #501e22;
}
