/* CAMBIOS PARA NO GENERAR CONFUSIONES ENTRE SECCIONES DE PAGINA 31-JUL-2025 */
.vista-usuarios .table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;
}

.vista-usuarios .table th {
    background-color: #7446b6;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid #d1c4e9;
    vertical-align: middle;
    padding: 0.75rem;
}

.vista-usuarios .table tr:nth-child(odd) {
    background-color: #8463d050; /* color filas impares */
}

.vista-usuarios .table tr:nth-child(even) {
    background-color: #7546b675; /* color filas pares */
}

.vista-usuarios .table td {
    background-color: transparent; /* para dejar ver el color de fondo de la fila */
    color: #212529;
    border: 1px solid #8363d0;
    vertical-align: middle;
    padding: 0.75rem;
}
